aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
attrs
blinker
certifi
charset-normalizer
click
colorama
dataclasses-json
defusedxml
deprecation
distro
faiss-cpu
filelock
Flask
flask-cors
frozenlist
fsspec
gotrue
greenlet
h11
h2
hpack
httpcore
httpx
httpx-sse
huggingface-hub
hyperframe
idna
itsdangerous
Jinja2
jiter
joblib
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langsmith
MarkupSafe
marshmallow
mpmath
multidict
mypy_extensions
networkx
numpy
openai
orjson
packaging
pillow
postgrest
propcache
pydantic
pydantic-settings
pydantic_core
PyJWT
python-dateutil
python-dotenv
PyYAML
realtime
regex
requests
requests-toolbelt
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
six
sniffio
SQLAlchemy
storage3
StrEnum
supabase
supafunc
sympy
tenacity
threadpoolctl
tiktoken
tokenizers
torch
tqdm
transformers
typing-inspect
typing-inspection
typing_extensions
urllib3
websockets
Werkzeug
yarl
youtube-transcript-api
zstandard
gunicorn
gradio_client
